NodeRed_Dashboard/MicroSmartConsole/Win/flows.json
[{"id":"e8f79dc9.5d39e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"65d721a.4850fe","type":"tab","label":"Flow 2 ui","disabled":false,"info":""},{"id":"ac1daa50.1c5058","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"5ccecc4.bd09634","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f7853f9d.1c1a8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d4a4213f.09099","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"96ea64c5.5e6bc8","type":"ui_group","name":"Console","tab":"dda65154.eb8b2","order":1,"disp":true,"width":"6","collapse":false},{"id":"7853590d.58b1a8","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"1000"},{"id":"dda65154.eb8b2","type":"ui_tab","name":"Gauge","icon":"dashboard","disabled":false,"hidden":false},{"id":"2ccc9d3d.23c732","type":"mqtt-broker","name":"MQTT Broker","broker":"broker.hivemq.com","port":"1883","clientid":"66674339805971","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4faa83b2.07060c","type":"template","z":"e8f79dc9.5d39e","name":"Register HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <meta name=\"description\" content=\"\">\n\n  <title>Signin Template · Bootstrap v5.0</title>\n\n  <link rel=\"canonical\" href=\"https://getbootstrap.com/docs/5.0/examples/sign-in/\">\n\n  <!-- Bootstrap core CSS -->\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css\" rel=\"stylesheet\"\n    integrity=\"sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x\" crossorigin=\"anonymous\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js\"\n    integrity=\"sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4\"\n    crossorigin=\"anonymous\"></script>\n  \n  <!-- Custom styles for this template -->\n  <style>{{payload.style}}</style>\n\n</head>\n\n<body class=\"text-center\">\n\n  <main class=\"form-signin\">\n    <form action=\"/register\" method=\"post\">\n      <img class=\"mb-4\" src=\"../assets/brand/bootstrap-logo.svg\" alt=\"\" width=\"72\" height=\"57\">\n      <h1 class=\"h3 mb-3 fw-normal\">Please sign in</h1>\n\n      <div class=\"form-floating\">\n        <input name=\"email\" type=\"email\" class=\"form-control\" id=\"floatingInput\" placeholder=\"name@example.com\">\n        <label for=\"floatingInput\">Email address</label>\n      </div>\n      <div class=\"form-floating\">\n        <input name=\"password\" type=\"password\" class=\"form-control\" id=\"floatingPassword\" placeholder=\"Password\">\n        <label for=\"floatingPassword\">Password</label>\n      </div>\n\n      <div class=\"checkbox mb-3\">\n        <label>\n          <input type=\"checkbox\" value=\"remember-me\"> Remember me\n        </label>\n      </div>\n      <button class=\"w-100 btn btn-lg btn-primary\" type=\"submit\">Sign in</button>\n      <p class=\"mt-5 mb-3 text-muted\">&copy; 2017–2021</p>\n    </form>\n  </main>\n\n  <script src=\"https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js\"\n    integrity=\"sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p\"\n    crossorigin=\"anonymous\"></script>\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js\"\n    integrity=\"sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT\"\n    crossorigin=\"anonymous\"></script>\n\n</body>\n\n</html>","output":"str","x":480,"y":280,"wires":[["744e3dfd.3162d4"]]},{"id":"f44b53ec.80546","type":"http in","z":"e8f79dc9.5d39e","name":"Register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["d80a0ae1.250de8"]]},{"id":"744e3dfd.3162d4","type":"http response","z":"e8f79dc9.5d39e","name":"","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"d80a0ae1.250de8","type":"template","z":"e8f79dc9.5d39e","name":"Style","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    .bd-placeholder-img {\n      font-size: 1.125rem;\n      text-anchor: middle;\n      -webkit-user-select: none;\n      -moz-user-select: none;\n      user-select: none;\n    }\n\n    @media (min-width: 768px) {\n      .bd-placeholder-img-lg {\n        font-size: 3.5rem;\n      }\n    }\n\n    html,\n    body {\n      height: 100%;\n    }\n\n    body {\n      display: flex;\n      align-items: center;\n      padding-top: 40px;\n      padding-bottom: 40px;\n      background-color: #f5f5f5;\n    }\n\n    .form-signin {\n      width: 100%;\n      max-width: 330px;\n      padding: 15px;\n      margin: auto;\n    }\n\n    .form-signin .checkbox {\n      font-weight: 400;\n    }\n\n    .form-signin .form-floating:focus-within {\n      z-index: 2;\n    }\n\n    .form-signin input[type=\"email\"] {\n      margin-bottom: -1px;\n      border-bottom-right-radius: 0;\n      border-bottom-left-radius: 0;\n    }\n\n    .form-signin input[type=\"password\"] {\n      margin-bottom: 10px;\n      border-top-left-radius: 0;\n      border-top-right-radius: 0;\n    }","output":"str","x":290,"y":280,"wires":[["4faa83b2.07060c"]]},{"id":"3788d98.0f3f726","type":"http in","z":"e8f79dc9.5d39e","name":"Register API","url":"/register","method":"post","upload":false,"swaggerDoc":"","x":130,"y":440,"wires":[["97aaf361.db791","8e8a7204.42f8e","db595743.e83998"]]},{"id":"8872f756.8e0b08","type":"http response","z":"e8f79dc9.5d39e","name":"","statusCode":"303","headers":{"location":"/register"},"x":500,"y":440,"wires":[]},{"id":"97aaf361.db791","type":"template","z":"e8f79dc9.5d39e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Register Success</h1>","output":"str","x":320,"y":440,"wires":[["8872f756.8e0b08"]]},{"id":"8e8a7204.42f8e","type":"debug","z":"e8f79dc9.5d39e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":380,"wires":[]},{"id":"4a76e4a7.4bee0c","type":"file","z":"e8f79dc9.5d39e","name":"Save to file Register","filename":"D:/Co-Location Webserver/htdocs/node-red-workshop4/storage/register.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":580,"y":500,"wires":[[]]},{"id":"db595743.e83998","type":"change","z":"e8f79dc9.5d39e","name":"Add Timestamp","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"},{"t":"set","p":"payload.status","pt":"msg","to":"ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["4a76e4a7.4bee0c"]]},{"id":"a2eb9a53.8c35d8","type":"ui_button","z":"65d721a.4850fe","name":"Show","group":"96ea64c5.5e6bc8","order":0,"width":0,"height":0,"passthru":false,"label":"Show","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello world","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":240,"wires":[["2e9b328f.d6e90e","4dabf961.ac3f88"]]},{"id":"2e9b328f.d6e90e","type":"debug","z":"65d721a.4850fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"4dabf961.ac3f88","type":"ui_text","z":"65d721a.4850fe","group":"96ea64c5.5e6bc8","order":1,"width":0,"height":0,"name":"","label":"Massage","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":280,"wires":[]},{"id":"35739772.e7c658","type":"ui_button","z":"65d721a.4850fe","name":"Clear","group":"96ea64c5.5e6bc8","order":0,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"topic","topicType":"msg","x":210,"y":320,"wires":[["4dabf961.ac3f88"]]},{"id":"1396c02a.7785f","type":"ui_chart","z":"65d721a.4850fe","name":"","group":"96ea64c5.5e6bc8","order":4,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":360,"y":480,"wires":[[]]},{"id":"686d9fe.44ae86","type":"ui_slider","z":"65d721a.4850fe","name":"0-200","label":"slider","tooltip":"","group":"96ea64c5.5e6bc8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"200","step":1,"x":210,"y":440,"wires":[["1396c02a.7785f","2ddbabda.1553c4"]]},{"id":"2ddbabda.1553c4","type":"ui_gauge","z":"65d721a.4850fe","name":"","group":"96ea64c5.5e6bc8","order":5,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":400,"wires":[]},{"id":"e88013ed.31a26","type":"ui_template","z":"65d721a.4850fe","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":540,"wires":[[]]},{"id":"d5de5f97.e3a82","type":"serial in","z":"ac1daa50.1c5058","name":"Arduino 9600","serial":"7853590d.58b1a8","x":310,"y":360,"wires":[["89e54a28.70f6f8","5d123f02.71ee9"]]},{"id":"89e54a28.70f6f8","type":"ui_gauge","z":"ac1daa50.1c5058","name":"","group":"96ea64c5.5e6bc8","order":6,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"40","x":530,"y":360,"wires":[]},{"id":"5d123f02.71ee9","type":"debug","z":"ac1daa50.1c5058","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":440,"wires":[]},{"id":"e8260156.1c257","type":"mqtt out","z":"5ccecc4.bd09634","name":"Publish","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ccc9d3d.23c732","x":820,"y":700,"wires":[]},{"id":"5576669d.c27228","type":"inject","z":"5ccecc4.bd09634","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cm/switch/sw1","payload":"on","payloadType":"str","x":400,"y":700,"wires":[["2a75e501.8b558a"]]},{"id":"2a75e501.8b558a","type":"function","z":"5ccecc4.bd09634","name":"Add New Line","func":"msg.payload = msg.payload + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":700,"wires":[["e8260156.1c257"]]},{"id":"b8793e4a.540f7","type":"mqtt in","z":"5ccecc4.bd09634","name":"","topic":"cm/switch/#","qos":"2","datatype":"auto","broker":"2ccc9d3d.23c732","nl":false,"rap":true,"rh":0,"x":370,"y":860,"wires":[["f68d05a6.992148"]]},{"id":"f68d05a6.992148","type":"debug","z":"5ccecc4.bd09634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":860,"wires":[]},{"id":"5264d06a.24a44","type":"mqtt out","z":"5ccecc4.bd09634","name":"Publish","topic":"","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"2ccc9d3d.23c732","x":820,"y":780,"wires":[]},{"id":"5cd20426.9f7ecc","type":"inject","z":"5ccecc4.bd09634","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"cm/switch/sw1","payload":"off","payloadType":"str","x":400,"y":780,"wires":[["a56cbf58.0f6be"]]},{"id":"a56cbf58.0f6be","type":"function","z":"5ccecc4.bd09634","name":"Add New Line","func":"msg.payload = msg.payload + \"\\n\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":780,"wires":[["5264d06a.24a44"]]}]